.login-container {
  width: 100vw;
  height: 100vh;
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-wrapper {
  width: 70%;
  height: 70%;
  display: flex;
}
.loginLeft,
.loginRight {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.login-logo {
  font-size: 50px;
  font-weight: 800;
  color: lightseagreen;
  margin-bottom: 10px;
}
.login-desc {
  font-size: 24px;
}
.loginBox {
  height: 300px;
  padding: 20px;
  margin-left: 30px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.loginInput {
  height: 50px;
  border-radius: 10px;
  border: 1px solid gray;
  font-size: 18px;
  padding-left: 20px;
}
.loginInput:focus {
  outline: none;
}
.loginButton {
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: lightseagreen;
  color: white;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}
.loginButton:focus {
  outline: none;
}
.loginButton:disabled {
  cursor: not-allowed;
}
.loginForgot {
  text-align: center;
  color: rgb(28, 162, 28);
}
.loginRegisterButton {
  width: 70%;
  align-self: center;
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: rgb(28, 74, 72);
  color: white;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}
